/* Form input styling */

.form-input {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
}

.form-input > div {
	/* background-color: #ffffff; */
	color: rgb(0, 0, 0);
	padding: 30px;
	width: 50vw;
	height: 50vh;
	border-radius: 10%;
}
form {
	float: center;
}
::placeholder {
	color: rgb(14, 13, 13);
}
.texbox-styles {
	color: rgb(245, 205, 26);
	width: 100%;
	padding: 15px 23px 15px 45px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 3px solid rgb(0, 0, 0);
	border-radius: unset;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: rgb(231, 143, 11);
	background-color: inherit;
	font-size: 1.5rem;
}
.texbox-styles[type = "password"]:hover {
	background-attachment: scroll;
	background-image: url('password-icon.png');
	/* background-position: -2px -3px; */
	background-repeat: no-repeat;
}
.texbox-styles[type = "password"]:focus {
	background-attachment: scroll;
	background-image: url('password-icon.png');
	/* background-position: -2px -3px; */
	background-repeat: no-repeat;
}

.texbox-styles:hover {
	background-image: url('username-icon.png');
	/* background-position: -2px -3px; */
	background-repeat: no-repeat;
}
.texbox-styles:focus {
	background-image: url('username-icon.png');
	/* background-position: -2px -3px; */
	background-repeat: no-repeat;
}
#submit {
	background-color: rgba(207, 21, 21, 0); /* Green */
	background-clip: 50%;
	border: 1px solid rgb(233, 229, 5);
	border-radius: 10px;
	color: rgb(243, 229, 29);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5rem;
	cursor: pointer;
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	/* You can set the margin property to auto to horizontally center the element within its container. */
	transition: 500ms;
	overflow: auto;
}
#submit:hover {
	transform: scale(1.1, 1.1);
}

#submit:active {
	background-image: unset;
	transform: scale(1, 1);
	transition: cubic-bezier(0.77, 0, 0.175, 1);
}
